<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/newStylesheet.css">
</head>
<body class="bg">
<nav class="navbar navbar-expand-sm bg-light">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/sitelist">Display All Sites</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/addlist">Add a Site</a>
        </li>
        <form class="form-inline my-2 my-lg-0" method="post" th:action="@{/search}">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="searchfor">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search </button>
        </form>
    </ul>
</nav>
<div class="container">
    <form class="form-horizontal" action="#"
          th:action="@{/process}"
          th:object="${lists}"
          method="post">
        <div class="container">
            <div class="jumbotron jumbotron-fluid">
                <h1>Insert the Site Details</h1>
            </div>
        </div>

        <div class="form-group">


            <div class="control-label col-sm-2">
                <input type ="hidden" th:field ="*{id}"/>
                Name :<input type="text" class="form-control" th:field="*{name} " size="10"/>
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-sm-2">
                URL :<input type="text" class="form-control" th:field="*{url}" size="10"/>
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-sm-2">
                Person :<input type="text" class="form-control" th:field="*{person} " size="10"/>
            </div>
        </div>
        <div class="form-group col-md-6">

            ImageURL <input type="text" class="form-control" th:field="*{imageURL}">
        </div>
        <br />
        <div class="form-group">
            <div class="control-label col-sm-2">
                <input type="submit" value="Submit" />
            </div>
        </div>
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
