<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/newStylesheet.css">
</head>
<body class="bg1">
<nav class="navbar navbar-expand-sm bg-light">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/sitelist">Display All Sites</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/addlist">Add a Site</a>
        </li>
        <form class="form-inline my-2 my-lg-0" method="post" th:action="@{/search}">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="searchfor">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search </button>
        </form>
    </ul>
</nav>
<div class="container">
    <div th:if="${searchResults}">These are your search results:</div>
    <h2>List of URL Available</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>URL</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="urlist : ${lists}">
            <td>
                <a th:href="@{/detail/{id}(id=${urlist.id})}"><span th:text="${urlist.url}"></span></a>
            </td>
            <td>    <a th:href="@{/update/{id}(id=${urlist.id})}">Update</a><br /> </td>
            <td>    <a th:href="@{/delete/{id}(id=${urlist.id})}">Delete</a><br /> </td>

        </tr>

        </tbody>
    </table>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</body>
</html>

